<!DOCTYPE html>
<html class="dark" lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <title>The Digital Vault</title>
</head>
<body>

  <div layout:fragment="content" id="pages-container">
    <div th:replace="~{pages/home :: content}"></div>
    <div th:replace="~{pages/services :: content}"></div>
    <div th:replace="~{pages/projects :: content}"></div>
    <div th:replace="~{pages/community/team :: content}"></div>
    <div th:replace="~{pages/community/publications :: content}"></div>
    <div th:replace="~{pages/community/ranking :: content}"></div>
    <div th:replace="~{pages/faq :: content}"></div>
    <div th:replace="~{pages/user/profile :: content}"></div>
    <div th:replace="~{pages/admin :: content}"></div>
    <div th:replace="~{pages/user/permissions :: content}"></div>
    <div th:replace="~{pages/services/competitive :: content}"></div>
    <div th:replace="~{pages/services/webdev :: content}"></div>
    <div th:replace="~{pages/services/mentor :: content}"></div>
    <div th:replace="~{pages/services/cybersec :: content}"></div>
    <div th:replace="~{pages/services/incubator :: content}"></div>
    <div th:replace="~{pages/services/workshops :: content}"></div>
    <div th:replace="~{pages/legal/privacy :: content}"></div>
    <div th:replace="~{pages/legal/terms :: content}"></div>
    <div th:replace="~{pages/community/contact :: content}"></div>
    <div th:replace="~{pages/community/announcements :: content}"></div>
    <div th:replace="~{pages/community/events :: content}"></div>
    <div th:replace="~{pages/user/mentor-hub :: content}"></div>
  </div>

</body>
</html>
